<app-main>
    <article>
        <p>Question {{ getCurrentQuestionNumber() }} of {{ getQuestionsCount() }}</p>
        <p>{{ currentQuestion?.str }}</p>
        <form>
            <ul>
                @for(answer of currentQuestion?.currentAnswerList; track $index) {
                    <li>
                        <input [type]="currentQuestion?.type" id="{{ answer.id }}" name="answers" [checked]="answer.checked" (change)="selectAnswer($event)">
                        <label for="{{ answer.id }}">{{ answer.str }}</label>
                    </li>
                }
            </ul>
            <div class="">
                <button [disabled]="isPreviousButtonDisabled()" type="button" [routerLink]="['/quiz', currentQuiz!.id + 1, getPreviousQuestionUrlId()]" class="btn btn-outline-secondary"><i class="bi bi-arrow-left-circle"></i>Previous</button>
                <button [disabled]="isNextButtonDisabled()" type="button" [routerLink]="['/quiz', currentQuiz!.id + 1, getNextQuestionUrlId()]" class="btn btn-outline-primary"><i class="bi bi-arrow-right-circle"></i>Next</button>
            </div>
        </form>
    </article>
</app-main>