<a routerLink="create">Create a new quiz</a>
<hr>
Select quiz
<table class="form-table">
    @for(quiz of quizList; track $index) {
        <tr>
            <td>
                <a [routerLink]="['/quiz', $index + 1, 1]">{{ quiz }}</a>
            </td>
            <td>
                <div>
                    <a [routerLink]="['/edit', $index + 1]"><i class="bi bi-pencil-square"></i></a>
                    <a routerLink="" (click)="removeQuiz($index)"><i class="bi bi-trash3"></i></a>
                </div>
            </td>
        </tr>
    }
</table>
