<app-main>
    <a routerLink="create"><i class="bi bi-file-earmark-plus"></i> Create a new quiz</a>
    <hr>
    Select quiz
    <table class="form-table">
        @for(quiz of quizList; track quiz.id) {
            <tr>
                <td>
                    <a [routerLink]="['/quiz', quiz.id, 1]">{{ quiz.title }}</a>
                </td>
                <td>
                    <div>
                        <a [routerLink]="['/edit', quiz.id]"><i class="bi bi-pencil-square"></i></a>
                        <a routerLink="" (click)="removeQuiz(quiz.id)"><i class="bi bi-trash3"></i></a>
                    </div>
                </td>
            </tr>
        }
    </table>
</app-main>
