aside {
    float: right;
    width: 20%;
    height: 100%;
}

.square {
    width: 2em;
    height: 2em;
    line-height: 2em;
    margin: 0.5em;
    text-align: center;
    background-color: white;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    cursor: pointer;   
}

.square.current {
    background-color: yellow;
    border-color: darkorange;
    cursor: default;
}

.square:hover {
    border-color: gray;
}

.square.current:hover {
    border-color: darkorange;
}

.aside-card {
    margin-left: 0px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}