/* You can add global styles to this file, and also import other style files */
body {
    background-color: gray;
}

.form-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 0px;
}

.form-table td:first-child {
    width: 1%;
    white-space: nowrap;
}